@import url('https://fonts.googleapis.com/css?family=Unlock');
@import "partials/_header.scss";
@import "partials/_section1.scss";
@import "partials/_cov.scss";
@import "partials/_contact.scss";
@import "partials/_footer.scss";
@import "partials/_onama.scss";
@import "partials/_galerija.scss";

#wrap {}
