#contact {
  .bckg {
    background: rgba(12,12,12,.79);
    padding: 60px 0;

    h4 {
      text-transform: uppercase;
      border-radius: 10px;
      margin-bottom: -10px;
      color: white;
      text-align: center;
      padding: 20px 0;
      background: #ea8e00;
    }
    @media all and(min-width:992px) {
      & {
        padding: 175px 0;
      }
    }
  }
  background-image: url("https://images.pexels.com/photos/129733/pexels-photo-129733.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @media all and(min-width:768px) {}

  .mrg {
    &:nth-of-type(1) {
      @media all and(min-width:992px) {
        & {
          border-top-left-radius: 1%;
        }
      }
      padding-top: 50px;
      padding-bottom: 50px;
      background-color: rgb(254, 186, 55);
      @media all and(min-width:768px) {
        padding-left: 20px;
        padding-right: 20px;
      }
      @media all and(min-width:1200px) {
        padding-left: 50px;
        padding-right: 50px;
      }
    }

    &:nth-of-type(2) {
      border-top-right-radius: 1%;
      background-color: rgb(254, 209, 54);
    }
    @media all and(min-width:992px) {
      margin: 0;
      padding: 0;
    }
    @media all and(min-width:1200px) {
      margin: 0;
      padding: 0;
    }
  }

  .map {
    @media all and(min-width:992px) {
      padding: 0 40px;
    }
    @media all and(min-width:1200px) {
      padding: 0;
    }
  }

  .clearfix {
    &:after {
      clear: both;
    }
  }

  &:after,
  &:before {
    display: table;
    content: "";
  }

  .right {
    overflow: hidden;
    padding: 50px 20px;
    @media all and(min-width:768px) {
      padding: 40px 0;
    }
    @media all and(min-width:992px) {
      padding: 50px 0 23px;
    }

    .con1 {
      padding: 15px 0;
      overflow: hidden;
      @media all and(min-width:992px) {
        padding: 0;
        text-align: right;
        margin-bottom: 50px;
      }
      font-size: 17.5px;

      a {
        color: #212529;

        &:hover {
          border: none;
          text-decoration: none;
          font-size: 18.5px;
        }
      }

      ul {
        width: 100%;

        &:hover {
          cursor: pointer;
        }

        li {
          list-style: none;
          font-size: 15px;

          &:nth-child(1) {
            padding-bottom: 15px;
            font-size: 20px;
          }
          @media all and(min-width:992px) {
            & {
              text-align: center;
            }

            &:nth-child(1) {
              padding-bottom: 10px;
              font-size: 21px;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .coll {
    &:nth-of-type(1) {
      background: rgba(#335bb1, 1);
      padding-bottom: 50px;
      @media all and(min-width:992px) {
        & {
          padding-bottom: 0;
          border-bottom-left-radius: 100%;
        }
      }

      a {
        display: block;
      }

      &:hover {
        border-top: solid 1px rgb(254, 186, 55);
        background: rgb(254, 209, 54);

        & > .msng:hover .fab {
          transform: rotateY(360deg);
          color: rgba(#3b5998, 1);
        }
      }
    }

    &:nth-of-type(2) {
      @media all and(min-width:992px) {
        padding-bottom: 0;

        & {
          border-bottom-right-radius: 100%;
        }
      }

      a {
        display: block;
      }
      padding: 0;
      background: rgb(254, 209, 54);

      & > .fcb:hover .fab {
        transform: rotateY(360deg);
        transition: all 1s;
        color: rgba(#3b5998, 1);
      }

      & > .fcb:hover {
        border-bottom-right-radius: 0;
        background: rgb(254, 186, 55);
        @media all and(min-width:992px) {
          border-bottom-right-radius: 100%;
        }
      }
      background: rgba(#3b5998, 1);
    }

    .fcb {
      text-align: center;
      font-size: 44px;

      .fab {
        padding-bottom: 50px;
        transition: all 1s;
        margin-top: 50px;
        color: white;
      }
    }

    .msng {
      text-align: center;
      font-size: 44px;
      transition: all 0.5s;

      .fab {
        margin-top: 50px;
        color: white;
        transition: all 0.5s;

        & > .fcb:hover {
          transform: rotateY(360deg);
          color: rgba(#3b5998, 0.76);
        }
      }
    }
  }
}
