#wrap-galerija {
  background-color: rgba(94, 193, 22, 0.1);

  .row {
    margin: 50px 0;

    .coll {
      overflow: hidden;
      transition: all 0.5s;
      margin: 10px 0;
      padding: 0;

      img {
        opacity: 1;
        transition: all 1s;

        &:hover {
          opacity: 0.4;
          transform: scale(1.5);
        }
        @media all and(min-width:768px) {}
      }
    }
  }
}
