#wrap-onama {
  #onama {
    @media all and(min-width:768px) {
      & {
        padding: 30px 0;
      }
    }
    @media all and(min-width:992px) {
      & {
        padding: 60px 0;
      }
    }
    @media all and(min-width:992px) {
      & {
        padding: 90px 0;
      }
    }
    background: rgba(86, 177, 19, 0.14);

    .coll {
      font-size: 18px;

      &:nth-of-type(1) {
        padding: 60px 10px 30px;

        h4 {
          padding-bottom: 20px;
        }
        @media all and(min-width:768px) {
          & {
            padding: 50px;
          }
        }
      }

      &:nth-of-type(2) {
        padding-bottom: 60px;

        ul {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            padding: 7px 0;

            .fas {
              color: rgba(#54f234, 0.62);
              padding-left: 8px;
            }
            @media all and(min-width:768px) {
              & {
                text-align: right;
                padding-top: 45px;
              }
            }
            @media all and(min-width:992px) {
              & {
                text-align: right;
                padding-top: 30px;
              }
            }
            @media all and(min-width:1200px) {
              & {
                text-align: right;
                padding-top: 19px;
              }
            }
          }
        }
        @media all and(min-width:768px) {
          & {
            padding-top: 50px;
          }
        }
      }
    }
  }
}
