#section1 {
  @media all and(min-width:992px) {
    margin: 50px 0 0;
  }
  z-index: -999;
  background-image: url("https://images.pexels.com/photos/164005/pexels-photo-164005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .bckgr {
    background: linear-gradient(rgba(140, 112, 93,.64),rgba(14, 13, 11,1));
    z-index: 999;
    padding: 0;
    @media all and(min-width:992px) {
      & {
        padding: 175px 0;
      }
    }
    @media all and(min-width:1200px) {
      & {
        padding: 200px 0;
      }
    }

    h2 {
      text-align: center;
      padding: 0 0 70px;
    }

    .container {
      display: block;
      background: rgba(255,255,255,.8);
      padding: 100px;
      max-width: 100%;
      margin: 0;
    }

    h2 {
      text-align: center;
      padding: 20px 0 70px;
      color: #5a5137;
      @media all and(min-width:1200px) {
        padding: 20px 0 101px;
      }
    }

    .container {
      padding: 50px 10px;
      @media all and(min-width:768px) {
        padding: 50px 20px;
      }
      @media all and(min-width:992px) {
        padding: 100px 20px;
      }
      @media all and(min-width:1200px) {
        padding: 100px;
      }
    }
  }

  .row {}

  .coll {
    @media all and(min-width:768px) {
      &:nth-of-type(3) {
        margin-top: 25px;
      }
    }
    @media all and(min-width:992px) {
      &:nth-of-type(3) {
        margin-top: 0;
      }
    }

    article {
      box-shadow: 0 0 20px rgba(0,0,0,.2);
      background: white;
      padding: 50px 10px;
      text-align: center;

      &:hover > .icon .fa,
      &:hover > .icon .far,
      &:hover > .icon .fas {
        background: rgb(254, 209, 54);
        color: white;
      }

      &:hover > h5 {
        border-bottom: solid rgb(254, 209, 54);
      }
      @media all and(min-width:1200px) {
        & {
          padding: 100px 10px;
        }
      }
    }

    .icon {
      padding-bottom: 23px;

      .fa,
      .far,
      .fas {
        transition: all 0.5s;
        color: rgb(254, 209, 54);
        font-size: 75px;
        border: solid 1.5px rgb(254, 209, 54);
        padding: 27px;
        border-radius: 50%;
      }
    }

    h5 {
      color: #7d7d7d;
      width: 80%;
      margin: 0 auto;
      padding-bottom: 30px;
      transition: all 0.5s;
      color: #191c1f;
      border-bottom: solid 0.5px #191c1f;
    }

    p {
      color: #191c1f;
      padding: 30px 30px 0;
    }
  }
}
